{% extends 'base.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block body %}
    {% include '_page_header.html.twig' with {
        'back_path': path('app_budget_index'),
        'title': "Accounts",
        'new_path': path('app_account_new', {'budget_id': budget.id})
    } only %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.type.value }}</td>
                <td>
                    {% include '_show_button.html.twig' with { 'show_path': path('app_account_show', {'id': account.id})} %}
                    {% include '_edit_button.html.twig' with { 'edit_path': path('app_account_edit', {'id': account.id})} %}
                    <a class="btn btn-sm btn-outline-dark" href="{{ path('app_transaction_index', {'account_id': account.id}) }}">Transactions</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
