{% extends 'base.html.twig' %}

{% block title %}Payees{% endblock %}

{% block body %}
    {% include '_page_header.html.twig' with {
        'back_path': path('app_budget_index'),
        'title': "Payees",
        'new_path': path('app_payee_new', {budget_id: budget.id})
    } only %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payee in payees %}
            <tr>
                <td>{{ payee.name }}</td>
                <td>{{ payee.linkCategory.name }}</td>
                <td>
                    {% include '_show_button.html.twig' with { 'show_path': path('app_payee_show', {'id': payee.id})} %}
                    {% include '_edit_button.html.twig' with { 'edit_path': path('app_payee_edit', {'id': payee.id})} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
