{% extends 'base.html.twig' %}

{% block title %}Category Groups{% endblock %}

{% block body %}
    {% include '_page_header.html.twig' with {
        'back_path': path('app_budget_index'),
        'title': "Category Groups",
        'new_path': path('app_category_group_new', {budget_id: budget.id})
    } only %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_group in category_groups %}
            <tr>
                <td>{{ category_group.name }}</td>
                <td>
                    {% include '_show_button.html.twig' with { 'show_path': path('app_category_group_show', {'id': category_group.id})} %}
                    {% include '_edit_button.html.twig' with { 'edit_path': path('app_category_group_edit', {'id': category_group.id})} %}
                    <a class="btn btn-sm btn-outline-dark" href="{{ path('app_category_index', {'category_group_id': category_group.id}) }}">Categories</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
