{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    {% include '_page_header.html.twig' with {
        'back_path': path('app_category_group_index', {'budget_id': categoryGroup.budget.id}),
        'title': "Categories",
        'new_path': path('app_category_new', {'category_group_id': categoryGroup.id})
    } only %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    {% include '_edit_button.html.twig' with { 'edit_path': path('app_category_edit', {'id': category.id})} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
