<%= render partial: "components/navbar", locals: { title: "New Budget", go_back: budgets_path } %>
<div class="mt-5 d-flex align-items-center justify-content-center">
    <%= render "form", budget: @budget %>
</div>
