<div class="mt-5 h-100 d-flex align-items-center justify-content-center">
  <div class="text-center w-50 h-50 border bg-secondary-subtle shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1>Welcome to blissful budgeting</h1>
    <p>Blissful budgeting is a simple budgeting app that helps you keep track of your expenses and income.</p>
    <p>It's easy to use and free!</p>
    <p>Get started by creating a new budget.</p>
    <%= link_to "Create a new budget", new_budget_path, class: "btn btn-outline-success" %>
    <p>Or load an existing budget.</p>
    <%= link_to "Load an existing budget", budgets_path, class: "btn btn-outline-primary" %>
  </div>
</div>



