{% extends 'base.html.twig' %}

{% block title %}Budgets{% endblock %}

{% block body %}
    {% include '_page_header.html.twig' with {
        'title': "Budgets",
        'new_path': path('app_budget_new')
    } only %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
                <td>{{ budget.name }}</td>
                <td>
                    {% include '_edit_button.html.twig' with { 'edit_path': path('app_budget_edit', {'id': budget.id})} %}
                    <a class="btn btn-sm btn-outline-dark"
                       href="{{ path('app_account_index', {'budget_id': budget.id}) }}">Accounts</a>
                    <a class="btn btn-sm btn-outline-dark"
                       href="{{ path('app_category_group_index', {'budget_id': budget.id}) }}">Category Groups</a>
                    <a class="btn btn-sm btn-outline-dark"
                       href="{{ path('app_payee_index', {'budget_id': budget.id}) }}">Payees</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
