<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-1 align-self-center">
                                {% block header_left %}{% endblock %}
                            </div>
                            <div class="col">
                                {% block header_center %}{% endblock %}
                            </div>
                            <div class="col-1 align-self-center">
                                {% block header_right %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% block card_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>