# frozen_string_literal: true
dom_id transaction
 %>">
  <p>
    <strong>Memo:</strong>
# frozen_string_literal: true
transaction.memo
 %>
  </p>

  <p>
    <strong>Cleared:</strong>
# frozen_string_literal: true
transaction.cleared
 %>
  </p>

  <p>
    <strong>Amount:</strong>
# frozen_string_literal: true
transaction.amount
 %>
  </p>

  <p>
    <strong>Running balance:</strong>
# frozen_string_literal: true
transaction.running_balance
 %>
  </p>

  <p>
    <strong>Entry date:</strong>
# frozen_string_literal: true
transaction.entry_date
 %>
  </p>

</div>
