<h1>New transaction</h1>

# frozen_string_literal: true
render 'form', transaction: @transaction
 %>

<br>

<div>
# frozen_string_literal: true
link_to 'Back to transactions', account_transactions_path(@account)
 %>
</div>
